<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
    >
      Neil
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
    >
      Main Website
    </a>
    <span px-1>|</span>
      <a
      b-slate-link
      href="https://t.me/BingBlongAI" target="_blank"
      style="color: #000000; opacity: 2;"
      >
      Join in Telegram Group
      </a>
      </p>
  </footer>
