<footer class="text-center">
  <p mt-8 text-xs op-100>
    <span pr-1>Made in</span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
    >
    Philippines
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
    >
      Main Website
    </a>
    <span px-1>|</span>
      <a
      b-slate-link
      href="https://t.me/BingBlongAI" target="_blank"
      style="color: #000000; opacity: 2;"
      >
      Join in Telegram Group
      </a>
      </p>
  </footer>
  <footer class="text-center">
    <p class="mt-2 text-xs opacity-50">
    <span class="pr-1">We are running ads to keep it free!</span>
    </p>
    </footer>
