<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
    >
      Neil
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
    >
      Main Website
    </a>
  </p>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4592814778191453" crossorigin="anonymous"></script>
<ins class="adsbygoogle"
    style="display:block"
    data-ad-format="autorelaxed"
    data-ad-client="ca-pub-4592814778191453"
    data-ad-slot="8498330093"></ins>
<script>
      declare var adsbygoogle: any;

// Now you can use 'adsbygoogle' in your code
// For example:
// Push an empty object to adsbygoogle to initialize the ad
adsbygoogle.push({}); = window.adsbygoogle || []).push({});
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4592814778191453"
     crossorigin="anonymous"></script>
<!-- NEW -->
<ins class="adsbygoogle"
    style="display:block"
    ata-ad-client="ca-pub-4592814778191453"
    data-ad-slot="4750656775"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</footer>
