<footer class="text-center">
  <p class="mt-0 text-xs opacity-50">
  <span class="pr-1">BingGPT April 16 Version. Free Research Preview.</span>
  </p>
  </footer>
<footer class="text-center">
  <p mt-2 text-xs op-100>
    <span pr-1></span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
      style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
    >
    Made in Philippines
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://bingblong.com" target="_blank"
      style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
    >
      Main Website
    </a>
    <span px-1>|</span>
      <a
      b-slate-link
      href="https://t.me/BingBlongAI" target="_blank"
      style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
      >
      Join in Telegram Group
      </a>
      </p>
  </footer>
  <footer class="text-center">
    <p class="mt-2 text-xs opacity-50">
    <span class="pr-1">We are running ads to keep it free!</span>
    </p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4592814778191453"
     crossorigin="anonymous"></script>
     <div style="text-align:center">
     <!-- Bingblong_S2S_Leaderboard3_ROS -->
<style>
	@media only screen and (min-width: 0px) and (min-height: 0px) {
		div[id^="bsa-zone_1683294210366-8_123456"] {
			min-width: 300px;
			min-height: 50px;
		}
	}
	@media only screen and (min-width: 640px) and (min-height: 0px) {
		div[id^="bsa-zone_1683294210366-8_123456"] {
			min-width: 468px;
			min-height: 60px;
		}
	}
</style>
<div id="bsa-zone_1683294210366-8_123456"></div>
</div>
    </footer>
