---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---
<header>
  <script data-cfasync="false" src="/sw.js"></script>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">BingBlong</span>
    <span class="gpt-subtitle">GPT</span>
  </div>
  <p mt-1 op-60>Serving the people 24/7</p>
  <a
  b-slate-link
  href="https://play.google.com/store/apps/details?id=com.gpt.bing" target="_blank"
  style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
>
  Click here to Download the App
</a>
<meta name="monetag" content="92b5a737b4358be1187bd2963e3bcbe7">
<meta name="a.validate.02" content="3uyxOTgBCq_QAZhujeW2Vs2_Om6rqcZTexUM" />
<meta name="a90b286bf7debe769644fe0d0ba5f89f2695967d" content="a90b286bf7debe769644fe0d0ba5f89f2695967d" />
<script type="text/javascript" src="https://ap.lijit.com/www/delivery/fpi.js?z=1133437&width=320&height=50"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJJBWGM0N1"></script>
<script>
window.dataLayer = window.dataLayer || []
function gtag() { dataLayer.push(arguments) }
gtag('js', new Date())

gtag('config', 'G-ZJJBWGM0N1')
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4592814778191453"
crossorigin="anonymous"></script>
<!-- test -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-4592814778191453"
data-ad-slot="6920544609"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({})
</script>

<script async data-cfasync="false">
  (function() {
      const url = new URL(window.location.href);
      const clickID = url.searchParams.get("click_id");
      const sourceID = url.searchParams.get("source_id");

      const s = document.createElement("script");
      s.dataset.cfasync = "false";
      s.src = "https://push-sdk.com/f/sdk.js?z=883283";
      s.onload = (opts) => {
          opts.zoneID = 883283;
          opts.extClickID = clickID;
          opts.subID1 = sourceID;
          opts.actions.onPermissionGranted = () => {};
          opts.actions.onPermissionDenied = () => {};
          opts.actions.onAlreadySubscribed = () => {};
          opts.actions.onError = () => {};
      };
      document.head.appendChild(s);
  })()
</script>

<div id="zc_883284"></div>
<script type="text/javascript">
    (function (d, c) {
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.src = 'https://eu.can-get-some.in/p/883284?c=zc_883284';
        s.async = true;
        d.getElementById(c).appendChild(s);
    })(document, 'zc_883284');
</script>

 
 
<script>
  (function(gfn){
  var d = document,
      s = d.createElement('script'),
      l = d.scripts[d.scripts.length - 1];
  s.settings = gfn || {};
  s.src = "\/\/glaringregister.com\/a_W\/5Tw.YPWidolrQl2j9rkrZhT\/9l6Gbc2Q5\/llS\/WWQx9SNSDOcxwhNLDnUz3\/N\/SR0j0yNNzbAU0LNRTNci2z";
  l.parentNode.insertBefore(s, l);
  })({})
  </script>

  
<script>
  (function(__htavim){
  var d = document,
      s = d.createElement('script'),
      l = d.scripts[d.scripts.length - 1];
  s.settings = __htavim || {};
  s.src = "\/\/romivapsi.com\/dmm\/Fmz.dXGglgtFP\/3YpYvRbNmVVWJNZhDM0n0_N\/zOAj0eNrTcgO3\/LQTrQg3TMQDFQJ1\/OgDegH";
  l.parentNode.insertBefore(s, l);
  })()
  </script>

<script>
  (function(efrbe){
  var d = document,
      s = d.createElement('script'),
      l = d.scripts[d.scripts.length - 1];
  s.settings = efrbe || {};
  s.src = "\/\/romivapsi.com\/c\/Dt9r6.b\/2e5\/l\/SMWJQo9gNFD_cWwrNaD\/UB4VOtSY0k0-NRzWAW0TNfTLklwP";
  l.parentNode.insertBefore(s, l);
  })({})
  </script>
</header>
