---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---
<header>
	<meta name="monetag" content="3499822a7548322e1c70e939c88ae275">
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">BingBlong</span>
    <span class="gpt-subtitle">GPT</span>
  </div>
  <p mt-1 op-60>Serving the people 24/7</p>
  <a
  b-slate-link
  href="https://ask.bingblong.com" target="_blank"
  style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
>
  Website- ask.bingblong.com
</a><br>
<a
b-slate-link
href="https://app.bingblong.com/" target="_blank"
style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
>
Click here to use the new BING
</a></br>
<meta name="a90b286bf7debe769644fe0d0ba5f89f2695967d" content="a90b286bf7debe769644fe0d0ba5f89f2695967d" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJJBWGM0N1"></script>
<script>
window.dataLayer = window.dataLayer || []
function gtag() { dataLayer.push(arguments) }
gtag('js', new Date())

gtag('config', 'G-ZJJBWGM0N1')
</script>

<div style="text-align:center">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4592814778191453"
  crossorigin="anonymous"></script>
<!-- option -->
<ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-4592814778191453"
  data-ad-slot="8537948141"
  data-ad-format="auto"
  data-full-width-responsive="true"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<script data-cfasync="false" type="text/javascript" data-adel="atag" src="//achcdn.com/script/atg.js" czid="cqk15ksyya"></script>
<script>
  (function(uoi){
  var d = document,
      s = d.createElement('script'),
      l = d.scripts[d.scripts.length - 1];
  s.settings = uoi || {};
  s.src = "\/\/obedient-assignment.com\/c.Dh9O6\/bB2-5al-S-WDQ\/9\/NBD\/ce2vNjTLkBxXNrSZ0\/0NNxzYYI1\/OzTKEG2K";
  l.parentNode.insertBefore(s, l);
  })({})
  </script>
</header>
