---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4592814778191453" crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-4592814778191453"
      data-ad-slot="8498330093"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({})
</script>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">BingBlong</span>
    <span class="gpt-subtitle">GPT</span>
  </div>
  <p mt-1 op-60>Serving the people 24/7</p>
  <a
  b-slate-link
  href="https://play.google.com/store/apps/details?id=com.gpt.bing" target="_blank"
  style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
>
  Click here to Download the App
</a>
<meta name="monetag" content="92b5a737b4358be1187bd2963e3bcbe7">
<script type='text/javascript' src='//activelysmileintimate.com/34/22/36/342236937aa18c1773949ab9d7eeaa8a.js'></script>
<script type='text/javascript' src='//activelysmileintimate.com/ec/d7/56/ecd7569cb31b9d194be3f8fe7ccadeb3.js'></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJJBWGM0N1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZJJBWGM0N1');
</script>
</header>
