---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---
<header>
  <script data-cfasync="false" src="/sw.js"></script>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">BingBlong</span>
    <span class="gpt-subtitle">GPT</span>
  </div>
  <p mt-1 op-60>Serving the people 24/7</p>
  <a
  b-slate-link
  href="https://play.google.com/store/apps/details?id=com.gpt.bing" target="_blank"
  style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
>
  Click here to Download the App
</a>
<meta name="monetag" content="92b5a737b4358be1187bd2963e3bcbe7">
<meta name="a.validate.02" content="3uyxOTgBCq_QAZhujeW2Vs2_Om6rqcZTexUM" />
<meta name="a90b286bf7debe769644fe0d0ba5f89f2695967d" content="a90b286bf7debe769644fe0d0ba5f89f2695967d" />
<script type="text/javascript" src="https://ap.lijit.com/www/delivery/fpi.js?z=1133437&width=320&height=50"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJJBWGM0N1"></script>
<script>
window.dataLayer = window.dataLayer || []
function gtag() { dataLayer.push(arguments) }
gtag('js', new Date())

gtag('config', 'G-ZJJBWGM0N1')
</script>

<div style="text-align:center">
<script type="text/javascript">
	(function(){
	var bsa_optimize=document.createElement('script');
	bsa_optimize.type='text/javascript';
	bsa_optimize.async=true;
	bsa_optimize.src='https://cdn4.buysellads.net/pub/bingblong.js?'+(new Date()-new Date()%600000);
	(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa_optimize);
	})();
	</script>
</div>

<div style="text-align:center">
<!-- Bingblong_S2S_Leaderboard1_ROS -->
<style>
	@media only screen and (min-width: 0px) and (min-height: 0px) {
		div[id^="bsa-zone_1683293729555-0_123456"] {
			min-width: 300px;
			min-height: 50px;
		}
	}
	@media only screen and (min-width: 640px) and (min-height: 0px) {
		div[id^="bsa-zone_1683293729555-0_123456"] {
			min-width: 468px;
			min-height: 60px;
		}
	}
</style>
<div id="bsa-zone_1683293729555-0_123456"></div>
</div>
</header>
