---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4592814778191453"
  crossorigin="anonymous"></script>
<!-- TEST1 -->
<ins class="adsbygoogle"
  style="display:inline-block;width:728px;height:90px"
  data-ad-client="ca-pub-4592814778191453"
  data-ad-slot="3042823434"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">BingBlong</span>
    <span class="gpt-subtitle">GPT</span>
  </div>
  <p mt-1 op-60>Serving the people 24/7</p>
</header>
