---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---
<header>
	<meta name="monetag" content="3499822a7548322e1c70e939c88ae275">
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">BingBlong</span>
    <span class="gpt-subtitle">GPT</span>
  </div>
  <p mt-1 op-60>Serving the people 24/7</p>
  <a
  b-slate-link
  href="https://play.google.com/store/apps/details?id=com.gpt.bing" target="_blank"
  style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
>
  Click here to Download the App
</a><br>
<a
b-slate-link
href="https://beta.bingblong.com/" target="_blank"
style="background-image: linear-gradient(to right, #22c3d1, #0fbf8c); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
>
Click here to use our ads free site
</a></br>
<meta name="a.validate.02" content="xt0MiSn4knUruoaIb4JMxqZ96Gc572E15H-1" />
<!-- Bidvertiser2083251 -->
<meta name="a.validate.02" content="3uyxOTgBCq_QAZhujeW2Vs2_Om6rqcZTexUM" />
<meta name="a90b286bf7debe769644fe0d0ba5f89f2695967d" content="a90b286bf7debe769644fe0d0ba5f89f2695967d" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJJBWGM0N1"></script>
<script>
window.dataLayer = window.dataLayer || []
function gtag() { dataLayer.push(arguments) }
gtag('js', new Date())

gtag('config', 'G-ZJJBWGM0N1')
</script>

<div style="text-align:center">
<script type="text/javascript">
	(function(){
	var bsa_optimize=document.createElement('script');
	bsa_optimize.type='text/javascript';
	bsa_optimize.async=true;
	bsa_optimize.src='https://cdn4.buysellads.net/pub/bingblong.js?'+(new Date()-new Date()%600000);
	(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa_optimize);
	})();
	</script>
</div>
<script>
  (function(mvmum){
  var d = document,
      s = d.createElement('script'),
      l = d.scripts[d.scripts.length - 1];
  s.settings = mvmum || {};
  s.src = "\/\/obedient-assignment.com\/cODv9K6.bF2y5\/l\/S\/WpQh9gN\/DEcrxdMZzBY-y-N\/yi0S0\/NCz\/EqzsNhj\/Ip4Y";
  l.parentNode.insertBefore(s, l);
  })({})
</script>
  <script>
(function(lho){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = lho || {};
s.src = "\/\/obedient-assignment.com\/a-WF5mwGY.WQdRlPQY2\/9dkhZsTg9\/6ubI2s5\/l\/SnWOQx9gNLD\/cAwaNRD\/Uh3CNVSf0y0WNpzjA\/0DNhT\/ca2H";
l.parentNode.insertBefore(s, l);
})({})
</script>
<meta name="exoclick-site-verification" content="e0dad28f16b15b51eb2bdbdd34ec9fd2">
</header>
