<div class="bingblong-sidebar">
    <style>
      @media only screen and (min-width: 0px) and (min-height: 0px) {
        div[id^="bsa-zone_1683295210532-3_123456"] {
          min-width: 300px;
          min-height: 50px;
        }
      }
      @media only screen and (min-width: 640px) and (min-height: 0px) {
        div[id^="bsa-zone_1683295210532-3_123456"] {
          min-width: 120px;
          min-height: 600px;
        }
      }
    </style>
    <div id="bsa-zone_1683295210532-3_123456"></div>
  </div>
